
/* @media (max-width: 991.98px) { */
@media (max-width: 575.98px) {
   
    h1 {
        /* font-size: 7.5rem; */
        font-size: 12vw;
    }

    .burger-menu {
        display: unset;
        margin: 2rem;
        width: 3rem;
        font-size: 1.5rem;   
    }

   header {
       height: 3.5rem;
   }

    nav {
        left: -100%;
        position: absolute;
        width: 100%;
        height: 100vh;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        top: 3.5rem;
        background-color: #e4f9f5a6;
        backdrop-filter: blur(7px);
        z-index: +100;
        transition: 0.3s; 
    }

    .active {
        left: 0;
    }

    nav ul {
        display: block;
        text-align: center;
    }

    nav ul li {
        margin-bottom: 2rem;
    }

    .project-links {
        flex-direction: column;
    }

    .top-cloud {
        width: 5rem;
    }

    .bottom-cloud {
        width: 5rem;
    }
    
    .profile {
        width: unset;
    }

    .skill-row {
        width: unset;
    }

    .projects {
        width: unset;
    }
};
